<table class="table table-sm table-striped">
    <tbody>
        {{#each ChannelAdvanced}}
        <tr>
            <td class="align-top">
                <a href="{{ url }}"><img class="avatarUrl img-thumbnail" src="{{ avatarUrl }}" alt="{{ username }}" data-url="{{ url }}"></a></td>
            <td>
                <div class="username">{{ username }}</div>
                <div class="type">{{ type }}</div>
                <div class="name">{{ name }}</div>
                <hr>
                <div class="viewers">
                    <ul>
                        <li>{{ viewersCurrent }} viewers</li><li>{{ numFollowers }} followers</li><li>{{ audience }}</li>
                    </ul>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
