<table class="table table-sm table-striped">
    <tbody>
        {{#each ChannelAdvanced}}
        <tr>
            <td class="align-top">
                <a href="{{ url }}"><img class="avatarUrl img-thumbnail" src="{{ avatarUrl }}" alt="{{ username }}" data-url="{{ url }}" width="128"></a></td>
            <td>
                <div class="username">{{ username }}</div>
                <div class="type">{{ type }}</div>
                <div class="name">{{ name }}</div>
            </td>
            <td hidden>{{ viewersCurrent }}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
